<center>
<h1>Nihongo - Japanese/English Dictionary</h1>

<script type="text/javascript"><!--
google_ad_client = "ca-pub-9449433064496325";
/* 41j.com */
google_ad_slot = "7268096957";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</center>
<br>
<br>

Enter a word to search for or <a href="http://41j.com/nihongo/words">view all words</a>.
<br>
<br>
<br>

<%= render 'searchform' %>
